name: node workflow

on: 
    push:
        branches:
            - dev
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Setup Node.js environment
              uses: actions/setup-node@v6.2.0
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm install

            - name: Run lint test
              run: npm run lint

            - name: Run the app
              run: npm start

            - name: Test the app
              run: npm test

    