name: node workflow

on: 
    push:
        branches:
            - main
            - dev
            - 'features/**'
            - 'bugfix/**'
    pull_request:
        branches:
            - main
            - dev

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1
              with:
                fetch-depth: 0

            - name: Setup Node.js environment
              uses: actions/setup-node@v6.2.0
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Run lint test
              run: npm run lint

            - name: Test the app
              run: npm test

    push-to-registry:
        runs-on: ubuntu-latest
        needs: build-and-test
        if: ${{ github.ref == 'refs/heads/main' }}
        steps:
            - name: checkout repository
              uses: actions/checkout@v6.0.1
              with:
                fetch-depth: 0

            - name: Login to Docker Hub
              uses: docker/login-action@v3.6.0
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME}}
                password: ${{ secrets.DOCKERHUB_TOKEN}}
            
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Set SHA value
              id: vars
              run: echo "SHA_VALUE=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

            - name: Build & Push the image to docker hub
              uses: docker/build-push-action@v5
              with:
                context: ./
                push: true
                tags: |
                  ashengimhana/ci-cd-demo:${{ steps.vars.outputs.SHA_VALUE }}
                  ashengimhana/ci-cd-demo:latest
    