name: node workflow

on: 
    push:
        branches:
            - main
            - dev
            - 'features/**'
            - 'bugfix/**'
    pull_request:
        branches:
            - main
            - dev

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Setup Node.js environment
              uses: actions/setup-node@v6.2.0
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Run lint test
              run: npm run lint

            - name: Test the app
              run: npm test

            - name: Run the coverage test
              run: npm test:coverage

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v5
              with:
                token: ${{ secrets.CODECOV_TOKEN }}

    